#
# Copyright (c) 2021 Oracle and/or its affiliates.
#
# Licensed under the Universal Permissive License v 1.0 as shown at
# https://oss.oracle.com/licenses/upl.
#
apiVersion: coherence.oracle.com/v1
kind: Coherence
metadata:
  name: carts
spec:
  cluster: SockShop
  role: Carts
  replicas: 1
  image: ghcr.io/oracle/coherence-spring-sockshop-carts:latest
  env:
    - name: TRACING_HOST
      value: "jaeger-collector"
    - name: JAEGER_SAMPLER_TYPE
      value: "const"
    - name: JAEGER_SAMPLER_PARAM
      value: "1"
    - name: COHERENCE_SERVICE_NAME
      value: "Carts"
  application:
    main: com.oracle.coherence.examples.sockshop.spring.carts.CartsApp
  jvm:
    memory:
      heapSize: 2g
  coherence:
    metrics:
      enabled: true
  ports:
    - name: http
      port: 8080
      service:
        name: carts
        port: 80
      serviceMonitor:
        enabled: true
        path: /actuator/prometheus
    - name: metrics
      serviceMonitor:
        enabled: true
