#
# Copyright (c) 2021, 2022 Oracle and/or its affiliates.
#
# Licensed under the Universal Permissive License v 1.0 as shown at
# https://oss.oracle.com/licenses/upl.
#
server:
  port: ${port:8085}
spring:
  application:
    name: Carts
  sleuth:
    propagation:
      type: B3,W3C
    opentracing:
      enabled: true
    supports-join: false
  zipkin:
    base-url: http://jaeger-agent:9411
    enabled: false
management:
  endpoints:
    web:
      exposure:
        include: "*"
springdoc:
  swagger-ui:
    path: "/swagger-ui.html"
logging:
  level:
    root: warn
    "Coherence": info
    org.springframework.web: info
    com.oracle.coherence.spring: info
