#
# Copyright (c) 2021 Oracle and/or its affiliates.
#
# Licensed under the Universal Permissive License v 1.0 as shown at
# https://oss.oracle.com/licenses/upl.
#
apiVersion: coherence.oracle.com/v1
kind: Coherence
metadata:
  name: shipping
spec:
  cluster: SockShop
  role: Shipping
  replicas: 1
  image: ghcr.io/oracle/coherence-spring-sockshop-shipping:1.5.0
  env:
    - name: TRACING_HOST
      value: "jaeger-collector"
    - name: JAEGER_SAMPLER_TYPE
      value: "const"
    - name: JAEGER_SAMPLER_PARAM
      value: "1"
    - name: COHERENCE_SERVICE_NAME
      value: "Shipping"
    - name: JAEGER_SERVICE_NAME
      value: shipping
    - name: JAEGER_ENDPOINT
      value: "http://jaeger-collector:14268/api/traces"
  application:
    main: com.oracle.coherence.examples.sockshop.spring.shipping.ShippingApp
    args:
      - "--port=8080"
      - "--management.tracing.enabled=false"
      - "--coherence.server.startup-timeout=5m"
  jvm:
    memory:
      heapSize: 2g
  coherence:
    metrics:
      enabled: true
  ports:
    - name: http
      port: 8080
      service:
        name: shipping
        port: 80
      serviceMonitor:
        enabled: true
        path: /actuator/prometheus
    - name: metrics
      serviceMonitor:
        enabled: true
