#
# Copyright (c) 2021 Oracle and/or its affiliates.
#
# Licensed under the Universal Permissive License v 1.0 as shown at
# https://oss.oracle.com/licenses/upl.
#
apiVersion: coherence.oracle.com/v1
kind: Coherence
metadata:
  name: users
spec:
#  cluster: SockShop
  role: Users
  replicas: 1
  image: ghcr.io/oracle/coherence-spring-sockshop-users:21.06.1
  imagePullPolicy: IfNotPresent
  env:
    - name: TRACING_HOST
      value: "jaeger-collector"
    - name: JAEGER_SAMPLER_TYPE
      value: "const"
    - name: JAEGER_SAMPLER_PARAM
      value: "1"
  application:
    main: com.oracle.coherence.spring.sockshop.users.UsersApplication
  jvm:
    memory:
      heapSize: 1g
  ports:
    - name: http
      port: 8080
      service:
        name: user  # for compatibility with the existing front-end implementation
        port: 80
      serviceMonitor:
        enabled: true
        path: /actuator/prometheus
